# Postgres URL for Chowda DB.
# Format: postgresql://{user}:{password}@{host}:{port}/{database}
DB_URL=''

# Env vars beginning with "AUTH_" are used for authentication and authorization with Auth0.
# These values can be obtained by logging into our Auth0 account.
AUTH_DOMAIN=''
AUTH_CLIENT_ID=''
AUTH_CLIENT_SECRET=''
AUTH_API_AUDIENCE=''

# Secret value for securing session data using SessionMiddleware
CHOWDA_SECRET=''
