# Postgres URL for Chowda DB.
# Format: postgresql://{user}:{password}@{host}:{port}/{database}
DB_URL=''

# Env vars beginning with "AUTH_" are used for authentication and authorization with Auth0.
# These values can be obtained by logging into our Auth0 account.
AUTH_DOMAIN=''
AUTH_CLIENT_ID=''
AUTH_CLIENT_SECRET=''
AUTH_API_AUDIENCE=''

# Secret value for securing session data using SessionMiddleware
CHOWDA_SECRET=''

# Env vars beginning with "CI_" are the SonyCi credentials used by the SonyCi webhook
# API to fetch the assets referenced by an event.
CI_USERNAME=''
CI_PASSWORD=''
CI_CLIENT_ID=''
CI_CLIENT_SECRET=''
