<table id="dt" class="table table-vcenter text-nowrap dataTable no-footer" aria-describedby="dt_info">

    <thead>
        <tr>
            <th>GUID</th>
            <th>Status</th>
        </tr>
    </thead>

    {% for media_file in data %}
    <tr>
        <td>
            <a href="../../media-file/detail/{{ guid }}">{{ media_file['guid'] }}</a>
        </td>
        <td>
            {% if media_file['status'] %}
            {{ media_file['status'] }}
            {% else %}
            <em>none</em>
            {% endif %}
        </td>

    </tr>
    {% endfor %}
</table>