<table
  id="dt"
  class="table table-vcenter text-nowrap dataTable no-footer"
  aria-describedby="dt_info"
>
  <thead>
    <tr>
      <th>Run ID</th>
      <th>GUID</th>
      <th>Metaflow Run</th>
      <th>Current step</th>
      <th>Current task</th>
      <th>Finished At</th>
      <th>Finished</th>
      <th>Successful</th>
    </tr>
  </thead>

  {% for metaflow_run in data %}
  <tr>
    <!-- Run ID -->
    <td>
      <a
        class="m-1 py-1 px-2 badge bg-blue-lt lead"
        href="../../metaflow-run/detail/{{ metaflow_run.id }}"
        >{{ metaflow_run.id }}
      </a>
    <!-- GUID -->
    <td>
      <a
        class="m-1 py-1 px-2 badge bg-blue-lt lead"
        href="../../media-file/detail/{{ metaflow_run.media_file_id }}"
        >{{ metaflow_run.media_file_id }}
      </a>
    </td>
    <!-- Pathspec -->
    <td>
      {% with data = 'https://mario.wgbh-mla.org/' + metaflow_run.pathspec %}
        {% include 'displays/metaflow_pathspec_link_field.html' %}
      {% endwith %}
    </td>
    <!-- Current step -->
    <td>
      {% if metaflow_run.current_step %}
        {% with data = 'https://mario.wgbh-mla.org/' + metaflow_run.pathspec +'/' + metaflow_run.current_step %}
          {% include 'displays/metaflow_link_field.html' %}
        {% endwith %}
      {% endif %}
    </td>
    <!-- Current task -->
    <td>
      {% if metaflow_run.current_task %}
        {% with data = 'https://mario.wgbh-mla.org/' + metaflow_run.pathspec +'/' + metaflow_run.current_step + '/' + metaflow_run.current_task %}
          {% include 'displays/metaflow_link_field.html' %}
        {% endwith %}
      {% endif %}
    </td>
    <!-- Finished At -->
    <td>{{ metaflow_run.finished_at }}</td>
    <!-- Finished -->
    <td>
      {% with data = metaflow_run.finished %}
        {% include 'icons/finished.html' %}
      {% endwith %}
    </td>
    <td>
    <!-- Successful -->
      {% with data = metaflow_run.successful %}
        {% include 'displays/successful.html' %}
      {% endwith %}
    </td>
  </tr>
  {% endfor %}
</table>
