<table id="dt" class="table table-vcenter text-nowrap dataTable no-footer" aria-describedby="dt_info">
  <thead>
    <tr>
      <th>GUID</th>
      <th>Metaflow Run</th>
      <th>Finished At</th>
      <th>Successful</th>
    </tr>
  </thead>

  {% for media_file_row in data %}
  <tr>

    <td>
      <a class="m-1 py-1 px-2 badge bg-blue-lt lead"
        href="../../media-file/detail/{{ media_file_row['guid'] }}">{{media_file_row['guid'] }}
      </a>
    </td>
    <td>
      <a href="{{ media_file_row['run_link']}}" target="blank">
        {{ media_file_row['run_id'] }}
        <i class="fa fa-external-link" aria-hidden="true"></i>
      </a>
    </td>
    <td>
      {{ media_file_row['finished_at'] }}
    </td>
    <td>
      {{ media_file_row['successful'] }}
    </td>
  </tr>
  {% endfor %}
</table>