<table
  id="dt"
  class="table table-vcenter text-nowrap dataTable no-footer"
  aria-describedby="dt_info"
>
  <thead>
    <tr>
      <th>GUID</th>
      <th>Metaflow Run</th>
      <th>Finished</th>
      <th>Successful</th>
    </tr>
  </thead>

  {% for media_file_row in data %}
  <tr>
    <td>
      <a
        class="m-1 py-1 px-2 badge bg-blue-lt lead"
        href="../../media-file/detail/{{ media_file_row.media_file_id }}"
        >{{media_file_row.media_file_id }}
      </a>
    </td>
    <td>
      <a
        href="https://mario.wgbh-mla.org/{{ media_file_row.pathspec}}"
        target="blank"
      >
        {{ media_file_row.pathspec }}
        <i class="fa fa-external-link" aria-hidden="true"></i>
      </a>
    </td>
    <td>
      <span
        class="text-center text-{{'success' if media_file_row.finished else 'danger'}}"
        ><i
          class="fa-solid fa-{{'check' if media_file_row.finished else 'times'}}-circle fa-lg"
        ></i
      ></span>
    </td>
    <td>
      <span
        class="text-center text-{{'success' if media_file_row.successful else 'danger'}}"
        ><i
          class="fa-solid fa-{{'check' if media_file_row.successful else 'times'}}-circle fa-lg"
        ></i
      ></span>
    </td>
  </tr>
  {% endfor %}
</table>
